@model IEnumerable<LunarSports.ViewModels.EventListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (ViewBag.Page != null)
{
    <h2> @ViewBag.Page.Title</h2>
    <div class="metaData">

    </div>
    <div>
        @Html.Raw(ViewBag.Page.Description)
    </div>
    <div class="metaData">
        <dl>
            <dt>
                Published
            </dt>
            <dd>
                @ViewBag.Page.DatePublished
            </dd>
            <dt>
                Updated
            </dt>
            <dd>
                @ViewBag.Page.DateModified

            </dd>
        </dl>
    </div>
}
else
{
    <h2> Site is under construction</h2>
    <div class="metaData">
        Please come back later.
        This page is either under maintenance or construction. We are working really hard to be able to deliver the page you requested.

    </div>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.LaunchSiteID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.IsVisible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dbmodel.EventUserMaxCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LaunchSite.Location.LocationName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.IsVisible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.EndDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dbmodel.EventUserMaxCapacity)
                </td>
                <td>
                    <a asp-controller="Events" asp-action="Details" asp-route-id="@item.Dbmodel.ID">Details</a> |
                    <a asp-controller="Account" asp-action="SignUp" asp-route-id="@item.Dbmodel.ID">Sign up</a>
                </td>
            </tr>
        }
    </tbody>
</table>
