@model LunarSports.ViewModels.EditUserModel

@{
    ViewData["Title"] = "EditUserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditUserDetails</h1>

<hr />

<!-- General details --------------------------------------------------------------------------------------------------->
<div class="row">
    <form asp-action="UpdateUserDetails" method="post">

        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" value="@Model.FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" value="@Model.LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input id="DOB" asp-for="DOB" class="form-control" value="@Model.DOB.ToString("yyyy-MM-dd")" type="date"/>
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" value="@Model.Gender" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BIO" class="control-label"></label>
                <textarea asp-for="BIO" id="Description" class="form-control">
                @Model.BIO
                </textarea>
                <span asp-validation-for="BIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePictureURL" class="control-label"></label>
                <input asp-for="ProfilePictureURL" class="form-control" value="@Model.ProfilePictureURL" />
                <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
        @{ var sectionName = "moreContact";}
        @{ var subSection = "";}
        @{ var fieldName = sectionName + subSection;}


        <!-- Contact details --------------------------------------------------------------------------------------------------->

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Contact details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Mobile";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Mobile: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{subSection = "Landline";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Landline: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>


        <!-- HomeAddress --------------------------------------------------------------------------------------------------->
        @{ sectionName = "HomeAddress";}
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Home address  details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Location";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Location name</label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Building";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Building number: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Street";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Street Address: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Localty";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Localty (town): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Region";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Region (county): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Postcode";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Postcode: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Country";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Country: </label>
                        <select asp-for="@fieldName" class="form-control" />
                        <option>--Please specify the country</option>
                        </select>
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Work contact --------------------------------------------------------------------------------------------------->

        @{ sectionName = "WorkContact";}
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Work contact details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Mobile";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Mobile: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{subSection = "Landline";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Landline: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{subSection = "Email";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Email: </label>
                        <input asp-for="@fieldName" class="form-control" type="email" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <!-- Work address --------------------------------------------------------------------------------------------------->

        @{ sectionName = "WorkAddress";}
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Work address details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Location";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Location name</label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Building";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Building number: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Street";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Street Address: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Localty";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Localty (town): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Region";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Region (county): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Postcode";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Postcode: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Country";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Country: </label>
                        <select asp-for="@fieldName" class="form-control" />
                        <option>--Please specify the country</option>
                        </select>
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <!-- nextOfKind details --------------------------------------------------------------------------------------------------->
        @{ sectionName = "NextOfKin";}
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Next of kin details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "fname";}
                    @{ fieldName = sectionName + subSection;}


                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> First name: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "lname";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Last name: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Relationship";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Relationship: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <!-- nextOfKind contact --------------------------------------------------------------------------------------------------->

        @{ sectionName = "NextOfKinContact";}
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Next of Kin contact details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Mobile";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Mobile: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{subSection = "Landline";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Landline: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{subSection = "Email";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Email: </label>
                        <input asp-for="@fieldName" class="form-control" type="email" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <!-- nextOfKind address --------------------------------------------------------------------------------------------------->

        @{ sectionName = "NextOfKinAddress";}
        <div class="col-md-12">


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@sectionName">Next of Kin address details</a>
                    </h4>
                </div>
                <div id="@sectionName" class="panel-collapse collapse">
                    @{ subSection = "Location";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Location name</label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Building";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Building number: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Street";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Street Address: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Localty";}
                    @{ fieldName = sectionName + subSection;}
                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Localty (town): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Region";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Region (county): </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>

                    @{ subSection = "Postcode"; }
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Postcode: </label>
                        <input asp-for="@fieldName" class="form-control" />
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                    @{ subSection = "Country";}
                    @{ fieldName = sectionName + subSection;}

                    <div class="form-group">
                        <label asp-for="@fieldName" class="control-label"> Country: </label>
                        <select asp-for="@fieldName" class="form-control" />
                        <option>--Please specify the country</option>
                        </select>
                        <span asp-validation-for="@fieldName" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>
        <div class="form-group">
            <input type="submit" value="Update details" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("WYSIWYG");}

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
