@model IEnumerable<LunarSports.Models.Page>
    <ul class="nav">
        <li class="nav-link">
            <a asp-area="" asp-controller="Default" asp-action="Index">Home</a>
        </li>
        <li class="nav-link">
            <a asp-area="" asp-controller="Events" asp-action="Index">Events</a>
        </li>


        @foreach (Page p in Model)
        {
            <li class="nav-link">
                <a asp-area="" asp-controller="Pages" asp-action="ViewPage" asp-route-id="@p.ID">@p.Title</a>
            </li>
        }
        <hr/>
        @if (User.IsInRole("Administrator"))
        {
            foreach(var menuEntry in ViewBag.adminMenuEntries)
            {
                <li class="nav-link">
                    <a asp-area="Admin" asp-controller="@menuEntry.Controller" asp-action="@menuEntry.Action" >@menuEntry.DisplayName </a>

                </li>
            }
        }
    </ul>
