@model IEnumerable<LunarSports.Models.Page>
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions {
    Page  stripTagsAndShorten(Page p)
    {
            p.Description = Regex.Replace(p.Description, "<[^>]*(>|$)", String.Empty);
                            var limit = (p.Description.Length > 20) ? 20 : p.Description.Length;
                            p.Description = p.Description.Substring(0, limit);
                            p.Description = p.Description + "...";
        return p;
    }


}

<h1>Index</h1>

<p>
    <a asp-controller="Pages" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Page item in Model)
        {
          
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>

                    @Html.Raw(stripTagsAndShorten(item).Description )

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    <a asp-area="" asp-controller="Pages" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-area="" asp-controller="Pages" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-area="" asp-controller="Pages" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
